<app-authentication *ngIf="this.auth.isLogged() == false"></app-authentication>
<div *ngIf="this.auth.isLogged() == true" class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>

  <div class="body-wrapper">
    <!-- NAVBAR / HEADER -->
    <app-navbar></app-navbar>
    <!-- SPA -->
    <br><br><br><br>
    <router-outlet></router-outlet>
    <!-- FOOTER -->
    <app-footer></app-footer>
  </div>
</div>
