<div class="col-lg-12 d-flex align-items-stretch container-fluid">
  <div class="card w-100">
    <div class="card-body p-4">
      <h5 class="card-title fw-semibold float-start">Add Order</h5>
      <a class="btn btn-primary float-end" [routerLink]="['/orders']">Back to Orders</a>
      <br><br>
      <form [formGroup]="form" (ngSubmit)="createOrder()">
        <div class="mb-3 row">
          <div class="col-md-4">
            <label for="selectVehicle" class="form-label">Vehicles</label>
            <select class="form-select" id="single-select" aria-label="Default select example" formControlName="vehicle_id">
              <option disabled selected value="-1">Click to open vehicles</option>
              <option *ngFor="let item of vehicles" value="{{ item.id }}">{{ item.name }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="selectUser" class="form-label">Approval User</label>
            <select class="form-select" id="multiple-select" aria-label="Default select example" formControlName="approval_user_id">
              <option disabled selected value="-1">Click to open users</option>
              <option *ngFor="let item of approval_users" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="employeeName" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="employeeName" placeholder="Employee Name" formControlName="employee_name">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-md-4">
            <label for="driverName" class="form-label">Driver Name</label>
            <input type="text" class="form-control" id="driverName" placeholder="Driver Name" formControlName="driver_name">
          </div>
          <div class="col-md-8">
            <label for="information" class="form-label">Information</label>
            <input type="text" class="form-control" id="information" placeholder="Information" formControlName="information">
          </div>
        </div>
        <!-- Button -->
        <button type="submit" class="btn btn-primary float-start">Submit</button>
      </form>
    </div>
  </div>
</div>
